<html>
    <head>
        <title>Choose your login provider</title>
    </head>
    <body>
        <h1>Sign in</h1>
        <p>Sign in with one of the following providers:</p>
        <ul>
            <li><img src="/images/btn_google+_signin_dark_normal_web.png" /><a href="/auth/oauth2/google?redir=/discourse&state=123">Google</a></li>
            <li><a href="/auth/oauth2/facebook">Facebook</a></li>
<!--
            <li><a href="">Microsoft Live</a></li>
            <li><a href="">Amazon</a></li>
-->
        </ul>
    </body>
</html>
